Node-RED/flows.json
[{"id":"51458dc4.e3dda4","type":"mqtt in","z":"8bf6617.71d6aa","name":"","topic":"ESP-data","qos":"0","datatype":"utf8","broker":"de6032de.d86e","x":240,"y":220,"wires":[["ab699de3.309608"]]},{"id":"ab699de3.309608","type":"json","z":"8bf6617.71d6aa","name":"","property":"payload","action":"","pretty":false,"x":370,"y":220,"wires":[["c3a3d81a.bb0d88"]]},{"id":"84f4dfd9.6efbe8","type":"http in","z":"8bf6617.71d6aa","name":"","url":"/ESP","method":"get","upload":true,"swaggerDoc":"","x":240,"y":280,"wires":[["25d95163.e1942e"]]},{"id":"8a4757e9.2c229","type":"http response","z":"8bf6617.71d6aa","name":"","statusCode":"","headers":{},"x":770,"y":280,"wires":[]},{"id":"4d8cca66.4b5c14","type":"http in","z":"8bf6617.71d6aa","name":"","url":"/ESP","method":"post","upload":false,"swaggerDoc":"","x":240,"y":320,"wires":[["61bd576.9a83728"]]},{"id":"c3a3d81a.bb0d88","type":"file","z":"8bf6617.71d6aa","name":"","filename":"/Users/mtd/temp/ESP.json","appendNewline":true,"createDir":true,"overwriteFile":"true","encoding":"none","x":560,"y":220,"wires":[["8fbf6fbe.4d9d58"]]},{"id":"25d95163.e1942e","type":"file in","z":"8bf6617.71d6aa","name":"","filename":"/Users/mtd/temp/ESP.json","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":460,"y":280,"wires":[["50df2296.f8e9dc"]]},{"id":"50df2296.f8e9dc","type":"json","z":"8bf6617.71d6aa","name":"","property":"payload","action":"","pretty":false,"x":650,"y":280,"wires":[["8a4757e9.2c229"]]},{"id":"61bd576.9a83728","type":"debug","z":"8bf6617.71d6aa","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":390,"y":320,"wires":[]},{"id":"8fbf6fbe.4d9d58","type":"debug","z":"8bf6617.71d6aa","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":770,"y":220,"wires":[]},{"id":"c3a7d07b.eed8f8","type":"inject","z":"8bf6617.71d6aa","name":"","topic":"ESP","payload":"Inject from server","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":280,"y":460,"wires":[["d3d92515.b7e578","b5013dea.cafda"]]},{"id":"d3d92515.b7e578","type":"mqtt out","z":"8bf6617.71d6aa","name":"","topic":"ESP-command","qos":"2","retain":"","broker":"de6032de.d86e","x":500,"y":460,"wires":[]},{"id":"b5013dea.cafda","type":"debug","z":"8bf6617.71d6aa","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":310,"y":520,"wires":[]},{"id":"d48e5bb3.177dc8","type":"mqtt in","z":"8bf6617.71d6aa","name":"","topic":"ESP-command","qos":"0","datatype":"auto","broker":"de6032de.d86e","x":310,"y":600,"wires":[["b4c605f1.ab1f88"]]},{"id":"b4c605f1.ab1f88","type":"debug","z":"8bf6617.71d6aa","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":510,"y":600,"wires":[]},{"id":"de6032de.d86e","type":"mqtt-broker","z":"","name":"ESP-Broker","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]